.App {
  text-align: center;
}

#menu-blank{
  padding-bottom: 500px;
}

#menu{
  position: sticky;
}

#content-area{
  margin-top: 3em;
  margin-right: 4em;
}

#white-jobseeker{
  color:white;
}

#white-employername{
  color:white;
}
